{% extends "core/_base.html" %}
{% block content %}
    <div class='min-w-3xl mx-auto min-h-[500px] flex justify-center items-center my-5'>
        <div>
            {% if messages %}
                {% for message in messages %}
                    <div class="px-2 py-1 {% if message.tags == 'success' %} bg-green-500 {% endif %} ">{{message}}</div>
                {% endfor %}
            {% endif %}
        </div>
       
        <form action="" method="POST">
            {% csrf_token %}

            {{form}}
           
            <button type="submit" class="bg-green-500 w-full text-center mt-3 rounded py-2 px-3">Sign In</button>
        </form>
    </div>
{% endblock content %}