{% extends "core/_base.html" %}
  {% block content %}
  <div class="min-w-7xl mx-auto flex justify-center items-center my-5">
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %} 
        {% endif %}
        <form action="" method="POST">
            {% csrf_token %}
            {% for field in form %}
               <p>
                    <label for="{{ field.id_for_label }}"> {{field.label}} </label>
                    {{ field }}

                    {% if field.errors %}
                            <ul>
                                {% for error in field.errors %}
                                <li>{{error}}</li>
                                {% endfor %}
                            </ul>
                    {% endif %}
               </p>
            {% endfor %}
            <button type="submit" class="bg-green-400 px-3 py-2 rounded w-full text-center mt-3">Sign Up</button>
        </form>
    </div>
{% endblock content %}